header
  height 45px
  background-color gc(black2)
  color gc(white1)
  > .inner
    max-width 1000px
    margin auto
    > .title
      float left
      margin 13px 0 0 20px
      text-transform uppercase
    > .logo
      float right
      width 126px
      height 32px
      margin 7px 10px 5px 0
      > svg
        > path:first-child
          fill gc(white1)
