.notice
  onoff()
  position absolute
  top 0px
  left 0
  bottom 0
  width 100%
  animation cellOutY 0.2s linear 0s both
  z-index 21
  background-color gc(beige1)
  &.offing
    animation cellOutYOff 0.2s linear 0s both
  > .inner
    position absolute
    width 100%
    height 300px
    top calc(50% - 45px)
    margin-top -150px

    > .image
      width 125px
      height 125px
      //background url('/image/sprite.png') left center
      //animation sprite 1.5s steps(45) infinite
      margin 50px auto
    > .copy
      margin 0 20px
      text-align center
      min-height 10px
      padding 15px 0 
      color gc(brown1)
      text-transform uppercase
    > .notice_progress
      onoff()
      margin 20px 30%
      height 2px
      > .inner
        height 2px
        background-color rgba(gc(brown1), 0.3)
        position relative
        > .full
          position absolute
          top 0
          left 0
          bottom 0
          width 0%
          background-color gc(red1)
          transition width 0.1s linear

@keyframes sprite
  100%
    background-position 5625px
