.page_submit
  > .inner
    max-width 600px
    margin auto
    overflow hidden
    height 100%
    background-color gc(white1)
    position relative
    > .image
      height calc(100% - 44px)
      padding 5px 0 0 0
      text-align center

      > .inner
        width auto
        height 100%
        background-color gc(white1)
        background-size contain
        background-repeat no-repeat
        background-position 50% 0

    > .cta
      gf(c1)
