.page_welcome
  background-color gc(beige1)
  > .inner
    height 80px
    margin auto
    > .logo
      margin 20px auto
      width 320px
      height inherit

    > .title
      text-transform uppercase
      animation inFromTop 0.2s linear 0.2s both
      gf(h1)
      color gc(gold1)
      text-align center
      margin 0
    > .intro
      gf(c1)
      animation inFromTop 0.2s linear 0.3s both
      padding 0px 20px
    > .cta
      animation inFromTop 0.2s linear 0.4s both
      position absolute
      width 140px
      gf(c2)
      left 50%
      margin-left -90px
      bottom 10%

    > .bottom
      position absolute
      height 20px
      animation inFromTop 0.2s linear 0.5s both
      gf(c3)
      left 0
      right 0
      bottom 10px
      text-align center

