.page.page_preview.off
  .image
  .buttons
    button.button.brown.cta_back
      //.icon
        include ../../vector/cancel.svg
      .copy back
    button.button.cyan.cta_share
      .icon
        include ../../vector/share.svg
      .copy share
