.page.page_shares.custom.off
  .close
    include ../../vector/cancel.svg
  .inner
    .sharelist
      .share.share_pinterest(data-type='pinterest')
        .inner
          include ../../vector/pinterest.svg
      .share.share_facebook(data-type='facebook')
        .inner
          include ../../vector/facebook.svg
      .share.share_twitter(data-type='twitter')
        .inner
          include ../../vector/twitter.svg
      .share.share_download(data-type='dl')
        .inner
          include ../../vector/download.svg
