extends ../extends/layout
block content
  include ../partial/submit.pug
  include ../partial/welcome.pug
  include ../partial/title.pug
  include ../partial/steps.pug
  include ../partial/step.pug
  include ../partial/preview.pug
  include ../partial/shares.pug
  include ../partial/thankyou.pug
